.custom-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 400px;
}

.custom-input {
  display: block;
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-textarea {
  display: block;
  width: 96%;
  height: 100px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-button {
  display: block;
  padding: 10px 20px;
  background-color: #002b38;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
